body {
  background-color: #ffd3ae
}

.page {
  margin: 0 auto;
  width: 100%;
}

#salmon {
  position: absolute;
  opacity: 0.4;
}

header {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #ff6842;
}

h1 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 45px;
  color: #ffffff;
  text-align: left;
  padding-left: 400px;
}

.button {
  position: relative;
  float: right;
  bottom: 20px;
  right: 250px;
  margin-right: 100px;
}

.nav {
  float: right;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
  display: inline-block;
  font-family: 'Petit Formal Script', cursive;
  font-size: 20px;
  color: #00d8c8;
  bottom: 18px;
  left: 355px;
}

#about {
  padding-right: 40px;
}

#shop {
  padding-right: 40px;
}

#locations {
  padding-right: 40px;
}

.content {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 16px;
  color: #835b32;
  text-align: left;
  background-color: #00d8c8;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 350px;
}

h2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 40px;
  color: #ffffff;
}
