body {
  background-color: #ffd3ae
}

div.container {
  position: relative;
  margin: auto;
}

img {
  position: relative;
  opacity: 0.4;
  z-index: 8;
}

div.headline {
  position: absolute;
  display: inline;
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
  background-color: #ff6842;
}

button.facebook {
  float: left;
  margin-left: 20px;
  font-family: 'Petit Formal Script', cursive;
  font-size: 20px;
  color: #835b32;
  background-color: #00d8c8;
}

button.instagram {
  float: left;
  margin-left: 60px;
  margin-bottom: 20px;
  font-family: 'Petit Formal Script', cursive;
  font-size: 20px;
  color: #835b32;
  background-color: #00d8c8;
}

h1 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 45px;
  color: #ffffff;
  text-align: left;
  padding-left: 20px;
}

h2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 45px;
  color: #ffffff;
  text-align: left;
}

div.content {
  position: relative;
  margin-right: -20px;
  margin-left: auto;
  margin-top: -700px;
  margin-bottom: -500px;
  width: auto;
  height: auto;
  padding-left: 350px;
  padding-right: 20px;
  text-align: left;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 15px;
  color: #835b32;
  background-color: #00d8c8;
}

div.navbar {
  position: relative;
  margin-top: 840px;
  width: 100%;
  height: auto;
  font-family: 'Petit Formal Script', cursive;
  font-size: 25px;
  color: #ffffff;
  background-color: #ff6842;
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: center;
  text-align: center;
}
